@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-silver:#e3d8d1;
$color-border: #ccc;

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    background:#e8dab0;
    overflow-x: hidden;
    
}
.clear {
    clear: both;
}
.container {
    width: 60%;
    margin:auto;
}
.navbar {
    background: #8c7531 ;
    height: 70px;
    ul {
    margin:3px 0 0 0 ;
    list-style-type: none;
    
    a {
        float: left;
        display: block;
        color: #f0e0af;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        &:hover {
            background:#3d3007 ;
        }
    }
    
    
}
}
span h2 {
    float: right;
    margin-top: 15px;
    color: #f5f3ed;
    margin-right: 30px;
    font-family: sans-serif;
    font-weight: normal;
}
/*section */
#home {
    background-image: url(img/slika2.png);
    min-height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    
}

       

#about {
    padding-top: 50px;
    padding-bottom: 60px;
    .coffe-shop {
        margin-bottom: 40px;
    }
    .coffe-shop-quote {
        background: $color-silver;
        padding: 25px 10px;
        border-left: 10px solid $color-border;
        margin-bottom: 30px;
        font-style: italic;
    }

}
#about h1, #menu h1, #location h1 {
    color:#261103 ;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 30px;
}
/*SECTION MENU*/
#menu {
    padding-top: 30px;
    padding-bottom: 60px;
    .menu-bckgr {
        padding: 20px;
        background:$color-silver ;
        border-radius: 10px;
        border:1px solid $color-border;
        h3 {
            text-align: center;
            font-weight: normal;
            margin-bottom: 40px;
            }
            .box{
                margin-bottom: 25px;
                line-height: 1.4em;
                border-bottom: 1px solid $color-border;
                h5 {
                    font-size: 17px;
                    p {
                        font-size: 16px;
                    }
                }
                }
            .button {
                
                    background: darkgray;
                    text-align: center;
                    color:#f5f3ed;
                    padding: 10px;
                    border: none;
                    text-transform: uppercase;
                    width: 15%;
                    border-radius: 5%;
                }
            

            
        
    }
}

/*SECTION LOCATION*/
#location {
    padding-top: 30px;
    padding-bottom: 60px;
    .location-main {
        float: left;
        width: 40%;
        padding: 15px;
        p {
            margin-bottom: 20px;
        }
    }
    .location-side {
        float: right;
        width: 60%;
        padding: 15px;
        .form, .form-group {
            padding-bottom: 15px;
             input, textarea {
                padding: 10px;
                width: 100%;
            }
            .button {
                background: darkgray;
                color:#f5f3ed;
                padding: 10px 15px;
                border: none;
                text-transform: uppercase;
                width: 30%;
                border-radius: 5%;
            }
        }

    }
}

/*FOOTER*/
#footer {
    background: $color-silver;
    font-size: 14px;
    color: #261103;
    text-align: center;
    padding-top: 10px;
    scroll-padding-bottom: 10px;
}

@media all and (max-width: 500px){
    body{
        display: none;
    }
}

