@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  background: #e8dab0;
  overflow-x: hidden;
}

.clear {
  clear: both;
}

.container {
  width: 60%;
  margin: auto;
}

.navbar {
  background: #8c7531;
  height: 70px;
}

.navbar ul {
  margin: 3px 0 0 0;
  list-style-type: none;
}

.navbar ul a {
  float: left;
  display: block;
  color: #f0e0af;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar ul a:hover {
  background: #3d3007;
}

span h2 {
  float: right;
  margin-top: 15px;
  color: #f5f3ed;
  margin-right: 30px;
  font-family: sans-serif;
  font-weight: normal;
}

/*section */
#home {
  background-image: url(img/slika2.png);
  min-height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
}

#about {
  padding-top: 50px;
  padding-bottom: 60px;
}

#about .coffe-shop {
  margin-bottom: 40px;
}

#about .coffe-shop-quote {
  background: #e3d8d1;
  padding: 25px 10px;
  border-left: 10px solid #ccc;
  margin-bottom: 30px;
  font-style: italic;
}

#about h1, #menu h1, #location h1 {
  color: #261103;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 30px;
  margin-bottom: 30px;
}

/*SECTION MENU*/
#menu {
  padding-top: 30px;
  padding-bottom: 60px;
}

#menu .menu-bckgr {
  padding: 20px;
  background: #e3d8d1;
  border-radius: 10px;
  border: 1px solid #ccc;
}

#menu .menu-bckgr h3 {
  text-align: center;
  font-weight: normal;
  margin-bottom: 40px;
}

#menu .menu-bckgr .box {
  margin-bottom: 25px;
  line-height: 1.4em;
  border-bottom: 1px solid #ccc;
}

#menu .menu-bckgr .box h5 {
  font-size: 17px;
}

#menu .menu-bckgr .box h5 p {
  font-size: 16px;
}

#menu .menu-bckgr .button {
  background: darkgray;
  text-align: center;
  color: #f5f3ed;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  width: 15%;
  border-radius: 5%;
}

/*SECTION LOCATION*/
#location {
  padding-top: 30px;
  padding-bottom: 60px;
}

#location .location-main {
  float: left;
  width: 40%;
  padding: 15px;
}

#location .location-main p {
  margin-bottom: 20px;
}

#location .location-side {
  float: right;
  width: 60%;
  padding: 15px;
}

#location .location-side .form, #location .location-side .form-group {
  padding-bottom: 15px;
}

#location .location-side .form input, #location .location-side .form textarea, #location .location-side .form-group input, #location .location-side .form-group textarea {
  padding: 10px;
  width: 100%;
}

#location .location-side .form .button, #location .location-side .form-group .button {
  background: darkgray;
  color: #f5f3ed;
  padding: 10px 15px;
  border: none;
  text-transform: uppercase;
  width: 30%;
  border-radius: 5%;
}

/*FOOTER*/
#footer {
  background: #e3d8d1;
  font-size: 14px;
  color: #261103;
  text-align: center;
  padding-top: 10px;
  scroll-padding-bottom: 10px;
}

@media all and (max-width: 500px) {
  body {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */